<div class="yt-container">
  <div class="yt-embed">
    {{ $id := .Get "id" | default (.Get 0) }}
    {{ $start := .Get "start" }}
    {{ $src := printf "https://www.youtube.com/embed/%s" $id }}
    {{ if $start }}{{ $src = printf "%s?start=%s" $src $start }}{{ end }}
    <iframe
      src="{{ $src }}"
      title="{{ .Get "title" | default "YouTube video" }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </div>
  {{ with .Get "caption" }}<p class="yt-caption">{{ . }}</p>{{ end }}
</div>
